pandas
opencv-python
pillow
pytesseract
pdf2image
python-dotenv
python_dateutil
python_docx
selenium
pymupdf
openpyxl
paddlepaddle
paddleocr
layoutparser
regex
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
thefuzz
pyautogui