paddlepaddle
numpy
opencv-python
typing-extensions
pandas
pillow
pytesseract
python-dotenv
python_dateutil
python-docx
selenium
pymupdf
openpyxl
paddleocr
layoutparser
regex
spacy
thefuzz
pyautogui
tensorflow
